<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Detalle de Vacante</title>
    <style>
        .sueldo-bueno {
            color: red;
            font-weight: bold;
        }
        .sueldo-normal {
            color: orange;
            font-weight: bold;
        }
        .sueldo-malo {
            color: grey;
            font-weight: bold;
        }

        .descripcion{

        font-style:
            italic;
            color: blue;
        }
    </style>
</head>


<body>
<img src="#" th:src="@{/images/logo.png}" width="136" height="136" alt="Logo de la App">
<h1 th:text="${vacante.nombre}" class='sueldo-bueno'>Nombre de la Vacante</h1>
<p th:text="${vacante.descripcion}" class='descripcion'>Descripción de la vacante.</p>
<p th:text="'Fecha de Publicación: ' + ${#dates.format(vacante.fecha, 'dd-MM-yyyy')}">
    Fecha</p>

<!--  Caso 1  (th:case) sin ternarios (Mezcla la lógica de negocio con la capa de
presentación (la vista).)
<div th:switch="true">
    <p>
        Salario:
        <span th:case="${vacante.salario > 2000}" class="sueldo-bueno"  D
              th:text="${#numbers.formatCurrency(vacante.salario)} + ' (Buen sueldo)'">
        </span>
        <span th:case="${vacante.salario >= 500}" class="sueldo-normal"
              th:text="${#numbers.formatCurrency(vacante.salario)} + ' (Sueldo normal)'">
        </span>
        <span th:case="*" class="sueldo-malo"
              th:text="${#numbers.formatCurrency(vacante.salario)} + ' (Mal sueldo)'">
        </span>
    </p>
</div>
-->


<!-- caso 2:(th:case) Con operadores ternarios (Mezcla la lógica de negocio con la capa de
presentación (la vista).) -->
<!--<p th:with="status = ${vacante.salario > 2800 ? 'bueno' : (vacante.salario >= 700 ? 'normal' : 'malo')}">-->
<!--    Salario: <span th:class="'sueldo-' + ${status}"-->
<!--                   th:text="${#numbers.formatCurrency(vacante.salario)} +-->
<!--                   ' (' +(${status == 'bueno' ? 'Buen sueldo' :(status == 'normal' ?-->
<!--                   'Sueldo normal' : 'Sueldo malo')}) + ')'">-->
<!--              </span>-->
<!--</p>-->


<!-- VERSIÓN REFACTORIZADA (No se Mezcla la lógica de negocio con la capa de
presentación (la vista).) -->
<div th:with="nivel=${vacante.getNivelSalarial()}">
    <p>
        <!--
        .name(): Este es un método estándar que tienen todos los enums en Java.
        Su función es devolver el nombre exacto de la constante del enum como un String.
        Ejemplo:
        Si la variable nivel contiene el objeto NivelSalarial.ALTO, entonces ${nivel.name()}
        se evaluará como el String "ALTO".•Si nivel contiene NivelSalarial.NORMAL, ${nivel.name()}
        se evaluará como el String "NORMAL".
        -->
        Salario:
        <span th:class="'sueldo-bueno' + ${nivel.name().toLowerCase()}"
              th:text="${#numbers.formatCurrency(vacante.salario)} + ' (' + ${nivel.getTextoDescriptivo()} + ')'">
        </span>
    </p>
</div>


</body>
</html>
