<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>/Home</title>
</head>
<body>


<!--Método : Uso de atributos Thymeleaf concatenates(+) con strings -->
<h1 th:text=${mensaje}></h1>
<h2>Oferta de trabajo</h2>
<h3 th:text="'Id: ' + ${vacante.id}"></h3>
<h3 th:text="'Nombre: ' + ${vacante.nombre}"></h3>
<h3 th:text="'Fecha: ' + ${vacante.fecha}"></h3>
<h3 th:text="'Salario: ' + ${vacante.salario} +'($ Americanos)'"></h3>
<h3>
   <span th:if="${vacante.destacado == 1}"
         class="badge badge-success">Vacante disponible: Si</span>
   <span th:unless="${vacante.destacado == 1}" class="badge badge-danger">Vacante
      disponible: No</span>
</h3>

</body>
</html>
