<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title th:text="'Vacante Numero:' + ${idVacante}"></title>
   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
   <link rel="stylesheet" th:href="@{/css/all.min.css}">
   <link rel="stylesheet" th:href="@{/css/tabla.css}">
</head>
<body>
<!--<h1 th:text="|idVacante : ${idVacante}|"></h1>-->
<!--<h1>Id de la vacante (Con codificación Moderna de Th:) = <span-->
<!--    th:text="|${idVacante}|"></span></h1>-->
<!--<h2-->
<!--    th:text="'Id de la vacante (Con codificación clásica de Th:) = ' +  ${idVacante}">-->
<!--</h2>-->

<img src="#" th:src="@{/images/logo.png}" width="136" height="136" alt="Logo de la App">
<h1 class="text-primary">Detalles de la vacante</h1>

<table class="table table-striped table-bordered table-hover">
   <thead>
   <tr>
      <th>logo</th>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripciòn</th>
      <th>Fecha</th>
      <th>Salario</th>
      <th>Destacado</th>
   </tr>
   </thead>

   <tbody>
   <tr th:each="objeto_Vacante: ${idVacante}">
      <td>
         <img src="#" th:src="@{/images/{img}(img=${objeto_Vacante.imagen})}" width="100"
              height="100" alt="Logo de la vacante">
      </td>
      <td th:text="${objeto_Vacante.id}"></td>
      <td th:text="${objeto_Vacante.nombre}"></td>
      <td th:text="${objeto_Vacante.descripcion}"></td>
      <td th:text="${#dates.format(objeto_Vacante.fecha, 'dd-MM-yyyy')}"></td>
      <td th:text="${#numbers.formatCurrency(objeto_Vacante.salario)}"></td>
      <td>
         <span th:if="${objeto_Vacante.destacado == 1}"
               class="badge badge-success">Si ></span>
         <span th:unless="${objeto_Vacante.destacado == 1}"
               class="badge badge-danger">No</span>
      </td>
   </tr>
   </tbody>
</table>
<!-- Enlaces a los scripts de JavaScript, usando la misma sintaxis robusta de Thymeleaf -->
<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{º/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
